{% extends "homepage.html" %}

{% load i18n %}

{% block body_class %}account account-signup{% endblock %}
{% block head_title %}{% trans "Sign up" %}{% endblock %}

{% block body %}
    <h1>Pagina para iniciar o cadastro de usuário</h1>
    <p>Se você tem um código de cadastro insira-o abaixo.</p>
    <form method="get" action="">
        <div><input type="text" name="code" placeholder="{% trans 'Your signup code...' %}" /></div>
        <div><input type="submit" class="btn btn-primary"></div>
    </form>
{% endblock %}
