{% extends "site_base.html" %}

{% load i18n %}

{% block body_class %}account account-logout{% endblock %}
{% block head_title %}{% trans "Log out" %}{% endblock %}

{% block body %}

Terms of Service Overview

Below is an overview of our Terms of Service for our “Platform”, which means any website, application, or service we offer. You should read the complete Terms of Service because that document (and not this overview) is our legally binding agreement. The Terms of Service includes information about your legal rights and covers areas such as automatic subscription renewals, limitations of liability, resolution of disputes by mandatory arbitration rather than a judge or jury in a court of law, and a class action waiver.
Your Relationship with Meetup

    By using our Platform, you are agreeing to our Terms of Service. The Terms of Service are a legally binding agreement between you and Meetup.
    If you break the rules, we may suspend or terminate your account.
    We charge for certain aspects of our Platform, and some of these fees are billed on a regular and recurring basis (unless you disable auto-renewal or cancel your subscription).

Meetup Groups, Organizers and Members

    Organizers may establish membership criteria for their own Meetup groups. While there is probably a Meetup group out there for everyone, not every Meetup group is for you. If you can’t find the right group, you can easily start your own Meetup group.
    Organizers may charge fees for memberships or events.
    Using our Platform involves meeting real people and doing real things in the real world, which can sometimes lead to unexpected situations. We can’t control what happens in the real world, and we are not responsible for it. You should use common sense and good judgment when interacting with others.

{% endblock %}
